/* ==========================================================================
   Custom card
   ========================================================================== */

.card-img-cover.holderjs {
  background-size: cover !important;
}


/* ==========================================================================
   Navmenu
   ========================================================================== */

.bd-example .navmenu {
  max-width: 20rem;
}
.bd-example .navmenu-fixed-left,
.bd-example .navmenu-fixed-right {
  position: static;
}
.bd-example .navmenu-fixed-left {
  float: left;
  margin-top: -1.5rem;
  margin-bottom: -1.5rem;
  margin-left: -1.5rem;
}
.bd-example .navmenu-fixed-right {
  float: right;
  margin-top: -1.5rem;
  margin-right: -1.5rem;
  margin-bottom: -1.5rem;
}


/* ==========================================================================
   Widget
   ========================================================================== */

.bd-example.bd-example-widget-inverse {
  background-color: #7d7d7d;
}

.bd-example .wg:not(.wg-grid-example) {
  max-width: 20rem;
}
.bd-example .wg:not(.wg-panel-group):last-child {
  margin-bottom: -1rem;
}

.bd-example .wg-panel-group:last-child {
  margin-bottom: 0;
}
